<div class="container" id="realContainer">
  <!--0Anchor-->
  <div class="row pinyin">
    <div class="text">ni'mf<span class="cursor"></span></div>
    <div class="hidden-pinyin">n</div>
  </div>
  <!--1Anchor-->
  <div class="row-wrapper">
    <div class="row cand first">
      <div class="text"><span class="cand-no">1</span><span class="cand-content">你们<span class="cand-helpcode">(rR)</span></span></div>
    </div>
  </div>
  <!--2Anchor-->
  <div class="row-wrapper">
    <div class="row cand">
      <div class="text"><span class="cand-no">2</span><span class="cand-content">你<span class="cand-helpcode">(rX)</span></span></div>
    </div>
  </div>
  <!--3Anchor-->
  <div class="row-wrapper">
    <div class="row cand">
      <div class="text"><span class="cand-no">3</span><span class="cand-content">尼<span class="cand-helpcode">(uV)</span></span></div>
    </div>
  </div>
  <!--4Anchor-->
  <div class="row-wrapper">
    <div class="row cand">
      <div class="text"><span class="cand-no">4</span><span class="cand-content">妮<span class="cand-helpcode">(nV)</span></span></div>
    </div>
  </div>
  <!--5Anchor-->
  <div class="row-wrapper">
    <div class="row cand">
      <div class="text"><span class="cand-no">5</span><span class="cand-content">泥<span class="cand-helpcode">(dV)</span></span></div>
    </div>
  </div>
  <!--6Anchor-->
  <div class="row-wrapper">
    <div class="row cand">
      <div class="text"><span class="cand-no">6</span><span class="cand-content">逆<span class="cand-helpcode">(zQ)</span></span></div>
    </div>
  </div>
  <!--7Anchor-->
  <div class="row-wrapper">
    <div class="row cand">
      <div class="text"><span class="cand-no">7</span><span class="cand-content">拟<span class="cand-helpcode">(fR)</span></span></div>
    </div>
  </div>
  <!--8Anchor-->
  <div class="row-wrapper">
    <div class="row cand">
      <div class="text"><span class="cand-no">8</span><span class="cand-content">腻<span class="cand-helpcode">(oD)</span></span></div>
    </div>
  </div>
  <!--9Anchor-->
  <div class="row-wrapper">
    <div class="row cand">
      <div class="text"><span class="cand-no">9</span><span class="cand-content">拧<span class="cand-helpcode">(nG)</span></span></div>
    </div>
  </div>
</div>
