[submodule "vendor/MetasequoiaImeEngine"]
	path = vendor/MetasequoiaImeEngine
	url = https://github.com/metasequoiaime/MSIME-Engine.git
[submodule "vendor/opencc"]
	path = vendor/opencc
	url = https://github.com/byvoid/opencc.git
[submodule "vendor/cpp-pinyin"]
	path = vendor/cpp-pinyin
	url = https://github.com/wolfgitpr/cpp-pinyin.git
