.wnd-h {
  .container {
    margin-top: 0px;
    margin-left: 0px;
    background: var(--cand-bg);
    padding: 2px;
    border-radius: 6px;
    box-shadow: var(--cand-shadow);
    min-width: 7em;
    width: fit-content;
    user-select: none;
    border: 1.5px solid var(--cand-border);
  }

  .cursor {
    display: inline-block;
    margin-left: 1px;
    width: 1.5px;
    height: 1em;
    background: var(--accent-strong);
    transform: translateY(1px);
  }

  .row {
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 2px;
    margin-bottom: 1px;
  }

  .cand {
    border-radius: 4px;
  }

  .cand:hover {
    background-color: var(--cand-hover);
  }

  .row-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: top;
  }

  .first-row-wrapper {
    margin-left: 2px;
  }

  .first {
    background-color: var(--cand-selected);
    border-radius: 4px;
  }

  /* bar */
  .first::before {
    content: "";
    position: absolute;
    left: 0;
    top: 53%;
    transform: translateY(-50%);
    height: 0.8em;
    width: 0.2em;
    background: var(--accent-strong);
    border-radius: 8px;
  }

  .text {
    padding-left: 5px;
    padding-right: 5px;
    color: var(--cand-text);
    display: flex;
    align-items: baseline;
  }

  .cand .text {
    line-height: 1.2;
  }

  .num {
    font-size: 0.8em;
    color: var(--cand-num);
    margin-right: 1px;
  }

  .pinyin {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .hidden-pinyin {
    visibility: hidden;
  }
}
