<div class="content" id="appearence-settings">
  <div class="content-header"><span>外观</span></div>

  <!-- 候选窗口预览 -->
  <div class="section sec-candidate-preview">
    <div class="section-header s-h-cand-preview">
      <div class="section-title">候选窗口预览</div>
    </div>
    <div class="candidate" id="candidate-wnd"></div>
  </div>

  <!-- 主题模式 -->
  <div class="section sec-theme">
    <div class="section-header theme-toggle-header">
      <div class="section-title">主题模式</div>
      <div class="dropdown">
        <button class="dropdown-toggle" id="themeBtn">
          <span>跟随系统</span>
          <div class="arrow">
            <img src="/assets/arrow.svg" alt="arrow">
          </div>
        </button>
        <div class="dropdown-menu" id="themeMenu">
          <div class="dropdown-item" data-value="dark">深色</div>
          <div class="dropdown-item" data-value="light">浅色</div>
          <div class="dropdown-item" data-value="auto">跟随系统</div>
        </div>
      </div>
    </div>
  </div>

  <!-- 候选项排列方式 -->
  <div class="section sec-arrange">
    <div class="section-header">
      <div class="section-title">候选项排列方式</div>
      <div class="dropdown">
        <button class="dropdown-toggle" id="arrangeBtn">
          <span>纵向</span>
          <div class="arrow">
            <img src="/assets/arrow.svg" alt="arrow">
          </div>
        </button>
        <div class="dropdown-menu" id="arrangeMenu">
          <div class="dropdown-item" data-value="horizontal">横向</div>
          <div class="dropdown-item" data-value="vertical">纵向</div>
        </div>
      </div>
    </div>
  </div>

  <!-- 是否显示双拼键位提示图片 -->
  <div class="section">
    <div class="section-header">
      <div class="section-title">双拼键位提示图片</div>
      <div class="ftb-toggle-btn" id="auxSpPicToggleBtn">
        <div class="ftb-toggle-knob"></div>
      </div>
    </div>
  </div>

</div>