<div class="content active" id="general-settings">
  <div class="content-header"><span>通用</span></div>

  <!-- 悬浮工具栏 toggle -->
  <div class="section ftb-toggle">
    <div class="section-header">
      <div class="section-title">悬浮工具栏</div>
      <div class="ftb-toggle-btn active" id="ftbToggleBtn">
        <div class="ftb-toggle-knob"></div>
      </div>
    </div>
  </div>

  <div class="section section-page-option">
    <div class="section-header">
      <div class="section-title">翻页方式</div>
    </div>

    <div class="content-page-option">
      <label class="check-option">
        <input type="checkbox" name="page-method" value="minus">
        <span>- / =</span>
      </label>

      <div class="input-option-divider"></div>

      <label class="check-option">
        <input type="checkbox" name="page-method" value="comma" checked>
        <span>, / .</span>
      </label>

      <div class="input-option-divider"></div>

      <label class="check-option">
        <input type="checkbox" name="page-method" value="tab">
        <span>Shift+Tab / Tab</span>
      </label>
    </div>
  </div>

  <div class="section">
    <div class="section-header">
      <div class="section-title">中英混输</div>
      <div class="ftb-toggle-btn active" id="zhEnToggleBtn">
        <div class="ftb-toggle-knob"></div>
      </div>
    </div>
  </div>
</div>