<div class="content document-page">
  <div class="content-header"><span>帮助</span></div>

  <div class="section help-document help-simple-document">
    <p>水杉输入法是一款 Windows 平台的中文输入法。目前支持 Windows11/Windows10 平台。</p>

    <div class="help-simple-section">
      <div class="section-title">快速上手</div>
      <p>安装输入法后，可以使用 Win + Space 快捷键切换到水杉输入法。默认是全拼输入法。</p>
    </div>

    <div class="help-simple-section">
      <div class="section-title">基本功能</div>
      <p>支持全拼、双拼和五笔。可以在设置窗口下的输入功能分区进行切换。全拼和双拼均支持辅助码。辅助码方案目前支持自然码辅助码和蓝天小雨点辅助码。可以在设置的辅助码分区进行辅助码的开关和切换。打字过程中，全拼使用辅助码需要用大写的字母唤起单码和双码辅助。双拼在开启辅助码的状态下默认使用单码辅助，第二个码是大写字母的情况下，则会使用完整双码进行筛选。</p>
      <p>语音识别和 AI 联想需要自行填入 API 和 token。内测期间，将默认使用开发者个人的 api 和 token，仅供测试使用。云联想目前支持谷歌的云接口，请用户注意网络问题。</p>
      <p>更多功能欢迎自由探索~</p>
    </div>
  </div>
</div>
