[submodule "MetasequoiaImeEngine"]
	path = MetasequoiaImeEngine
	url = https://github.com/metasequoiaime/MetasequoiaImeEngine.git
[submodule "msimeui"]
	path = msimeui
	url = https://github.com/metasequoiaime/msimeui.git
[submodule "opencc"]
	path = opencc
	url = https://github.com/byvoid/opencc.git
