[submodule "MetasequoiaImeEngine"]
	path = MetasequoiaImeEngine
	url = https://github.com/metasequoiaime/MetasequoiaImeEngine.git
[submodule "msimeui"]
	path = msimeui
	url = https://github.com/metasequoiaime/msimeui.git
[submodule "MetasequoiaVoiceInput"]
	path = MetasequoiaVoiceInput
	url = https://github.com/metasequoiaime/MetasequoiaVoiceInput.git
