CompileFlags:
  Add: [
      -DUNICODE,
      -D_UNICODE,
      -DFANY_DEBUG,
      "-std=c++17",
      "-IC:/Users/19833/EDisk/CppCodes/ImeCodes/MetasequoiaImeServer",
      "-IC:/Users/19833/EDisk/CppCodes/ImeCodes/MetasequoiaImeServer/src",
      "-IC:/Users/19833/EDisk/CppCodes/ImeCodes/MetasequoiaImeServer/build/vcpkg_installed/x64-windows/include",
      # utfcpp includes
      "-IC:/Users/19833/EDisk/CppCodes/ImeCodes/MetasequoiaImeServer/MetasequoiaImeEngine/utfcpp/source",
      # WebView2 includes
      "-IC:/Users/19833/.nuget/packages/microsoft.web.webview2/1.0.3240.44/build/native/include",
      "-IC:/Users/19833/.nuget/packages/microsoft.windows.implementationlibrary/1.0.240803.1/include",
      # Boost includes
      "-IC:/Users/19833/scoop/apps/boost/current",
      # Sciter includes
      "-IC:/Users/19833/EDisk/CppCodes/ImeCodes/sciter-js-sdk-main/include",
      -Wno-microsoft-goto,
      -Wno-nonportable-include-path,
      -Wno-microsoft-extra-qualification,
      # -Wno-unused-value,
    ] # ignore some specific warnings
  CompilationDatabase: build/ # Search build/ directory for compile_commands.json
# Diagnostics:
#   UnusedIncludes: None # ignore unused includes
